<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        &copy; 2019 Divine Tettey
        <br />
        <no-ssr>
        <small>
          Made with <emoji :emoji="{id: 'heart', skin: 1}" :size="16"/> &amp; <emoji :emoji="{id: 'coffee',skin: 1}" :size="16"/> 
          using <a href="https://nuxtjs.org" target="_blank">NUXT JS</a> &amp;
        <a href="https://bulma.io" target="_blank">BULMA</a>
        </small>
        </no-ssr>
      </p>
    </div>
  </footer>
</template>
<script>
import { Emoji } from 'emoji-mart-vue';

export default {
  name: 'CustomFooter',
  components: {
    Emoji
  }
}
</script>

<style scoped>
ul{
  text-align: center;
}

ul li {
  display: inline-block;
  padding: 5px;
  color: #C6C6D8;
  font-size: 20px;
}

ul li:hover{
  color: #858589;
}

a{
  color: #858589;
}

a:hover{
  color: #C6C6D8;
  text-decoration: underline;
}
.footer {
  background-color: #1C1C22;
  padding: 30px;
}
.footer .content p{
  color: #616165;
  font-size: 20px;
}

</style>

