<template>
  <a class="button is-rounded default-button" :href="anchorLink">{{buttonText}}</a>
</template>
<script>
export default {
  name: "CustomButton",
  props: [
    'anchorLink',
    'buttonText'
  ]
}
</script>
<style scoped>
a { transition: all .2s ease-in-out; }

a:hover{
  transform: scale(1.025);
}
.default-button{
  border-color: #ffffff;
  background-color: #15151C;
  color: #ffffff;
  padding: 15px;
  border-radius: 50px;
}

.default-button:hover {
  color: #15151C;
  background-color: #FFFFFF;
}
</style>
