<template>
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation" >
      <div class="navbar-brand">
        <a class="navbar-item"  href="/">Divine Tettey</a>
        <span role="button" class="navbar-burger" data-target="navbarMenuDetails" aria-label="menu" aria-expanded="false"  @click="toggleBurger">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuDetails" class="navbar-menu ">
        <div class="navbar-end">
          <nuxt-link class="navbar-item" to="/">Welcome</nuxt-link>
          <nuxt-link class="navbar-item" to="/stack">My Stack</nuxt-link>
          <nuxt-link class="navbar-item" to="/contact">Contact Me</nuxt-link>
        </div>
      </div>
    </nav>
</template>
<script>
 export default{
   methods: {
     toggleBurger(){
       const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

       //checck if there are any navbar burgers
       if($navbarBurgers.length > 0){
         // add a click event on each of them
         $navbarBurgers.forEach(el => {
           el.addEventListener('click', () => {
             //Get the target from the data-target attribute
             const target = el.dataset.target;
             const $target = document.getElementById(target);

             //togggle the is-active classs on both the navbar-burger and the navbar-menu
             el.classList.toggle('is-active');
             $target.classList.toggle('is-active');
           });
         });
       }
     }
   }
 }
</script>
<style>
.navbar {
  background-color: #1C1C22;
}
.navbar-item{
  color: #C6C6D8;;
  font-size: 20px;
}

.navbar-brand span {
  color: #ffffff;
}

</style>
