<template>
  <div>
    <navbar></navbar>
    <nuxt/>
    <custom-footer></custom-footer>
  </div>
</template>
<script>
import Navbar from '../components/Navbar';
import CustomFooter from '../components/CustomFooter';

export default {
  components: {
    Navbar,
    CustomFooter
  }, 
  transition: "default"
}
</script>

<style>
html {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial,sans-serif;
}
.footer {
  background-color: #1C1C22;
}
.footer .content p{
  color: #616165;
  font-size: 20px;
}
 .dark-section{
    background-color: #15151C;
}

.footer{
  padding: 30px;
}
</style>

