<template>
  <div>
    <section class="section dark-section">
      <div class="container">
        <div class="content has-text-centered">
          <h2 class="title is-loading">SAY HELLO</h2>
          <h3 class="subtitle">I am always available, get in touch</h3>
          <div class="columns">
            <div class="column">
              <div class="card">
                <div class="card-content">
                  <form name="contact" class="form has-text-left" method="POST"  data-netlify="true">
                      <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                          <input type="text"  class="input is-input" placeholder="Your name">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                          <input type="email" class="input is-input" placeholder="Your email">
                        </div>
                      </div>
                      <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                          <textarea class="textarea is-input" placeholder="Your message" ></textarea>
                        </div>
                      </div>
                      <div class="field is-grouped">
                        <div class="control ">
                          <button class="button is-link">Send</button>
                        </div>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {

}
</script>
<style scoped>
.title{
  font-size: 45px;
  font-weight: 800px;
  line-height: 15px;
  color: #C6C6C8;
  padding: 10px;
}

.subtitle{
  font-size: 20px;
  font-weight: 200px;
  line-height: 10px;
  color: #C6C6C8;
  padding: 15px;
  letter-spacing: 1px;
}

  .card{
    background-color: #1C1C22;
    border: 2px  #1C1C22 solid;
    border-radius: 10px;
  }

.card:hover{
  cursor: pointer;
  border: 2px #1C1C22 solid;
}

.label {
  color: #C6C6C8;
  font-weight: 200px;
  font-size: 20px;
  line-height: 10px;
  padding: 10px;
}

.is-input{
  background: #1C1C22;
  color: #C6C6C8;
  border-radius: 10px;
}

.is-input:focus{
  background-color:  #15151C;
  border-color: #ffffff;
}

::placeholder{
  color: #858589;
  opacity: 1;
}

.button {
  background-color: #1C1C22;
  border-color: #C6C6C8;
  border-radius: 10px;
}

.button:hover{
  background-color: #15151C;
  border-color: #C6C6C8;
}

@media only screen and (min-width: 600px){
  .card {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }
}
</style>
