<template>
  <div>
     <section class="hero dark-hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            Hi, I'm Divine Tettey
          </h1>
          <h2 class="subtitle">
            FullStack Developer | ML Enthusiast | Philomath<br />

          </h2>
          <div class="icons">
            <a href="https://github.com/divinecodes" target="_blank"><font-awesome-icon :icon="['fab','github']" size="2x" /></a>
            <a href="https://twitter.com/divine_codez" target="_blank"><font-awesome-icon :icon="['fab','twitter']" size="2x" /></a>
            <a href="https://www.instagram.com/divine_codez/" target="_blank"><font-awesome-icon :icon="['fab','instagram']" size="2x" /></a>
            <a href="https://www.linkedin.com/in/divine-tettey-702101113/" target="_blank"><font-awesome-icon :icon="['fab','linkedin']" size="2x" /></a>
            <a href="mailto://tetteydivine0@gmail.com" target="_blank"><font-awesome-icon :icon="['fas','envelope']" size="2x" /></a>
          </div>
        </div>
      </div>
    </section>
    <section class="section about-section">
      <div class="container has-text-centered">
        <no-ssr >
          <h2 class="subtitle">
            <emoji :emoji="{ id: 'wave', skin: 1 }" :size="24" />
            I am a FullStack Developer based in Accra, Ghana 
            </h2>

          <h2 class="subtitle"> 
            <emoji :emoji="{id: 'computer', skin: 1 }" :size="24" />
             I really <emoji :emoji="{id: 'heart', skin: 1}" :size="16"/> writing code
            </h2>
          <!-- <h2 class="subtitle">
            <emoji :emoji="{id: 'male-student', skin: 1 }" :size="24" />
            I have a BSc. Computer Science from 
            <a class="custom-links" href="https://www.knust.edu.gh" target="_blank" title="Kwame Nkrumah University of Science and Technology">KNUST</a>
          </h2> -->
        </no-ssr>

       
        <br />
        <h6 class="subtitle">Make An Enquiry?  
          <custom-button :anchorLink="anchorLink" :buttonText="buttonText"></custom-button>
          </h6>
      </div>
    </section>
  </div>

</template>

<script>
import CustomButton from '../components/CustomButton';
import { Emoji } from 'emoji-mart-vue';

export default{
  data(){
    return {
      anchorLink: 'contact',
      buttonText: 'Send me a message'
    }
  },
  components: {
    CustomButton, 
    Emoji
  }
}
</script>

<style>
.dark-hero {
  background-color: #15151C;
}

.hero .hero-body .container .title{
   color: #FFFFFF;
  font-size: 30px;
}

.hero .hero-body .container .subtitle{
    margin-top: 5px;
    color: #858589;
}

.about-section{
  background-color: #1C1C22;
}

.about-section .container .subtitle {
  color: #C6C6D8;
  font-size: 25px;
}

.current-active {
  background-color: #15151C;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;  
  margin-bottom: 10px;
  width: 50%;
  display: inline-block;
}

.current-active .title {
  color: #C6C6D8;
  font-size:  25px;
  
}

/* .title a {
  color: #141F2D;
}

.title a:hover{
  color: #C6C6D8;
}

.title a:visited{
  color: #141F2D;
} */

.icons{
  margin: 10px; 
}

.icons a{
  color: #C6C6D8;
  padding: 5px;
}

.custom-links{
  color: #858589;
}

.custorm-links:hover{
    color: #C6C6D8;
}


.icons a:hover{
  animation: shake 0.54s cubic-bezier(.36, .07, .19, .97) both; 
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90%{
    transform: translate3d(-1px, 0, 0); 
  }

  20%, 80%{
    transform: translate3d(2px, 0, 0); 
  }

  30%, 50%, 70% {
    transform:translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="current-active"] {
    width: 100%;
  }
}
</style>

