<template>
  <div>
    <section class="section dark-section">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">Languages</p>
              </header>
              <div class="card-content">
                <div class="content">
                  <ul class="main-list">
                    <li>
                      <div class="indicator"></div>
                      PHP
                    </li>
                    <li>
                      <div class="indicator"></div>
                      Python
                    </li>
                    <li>
                      <div class="indicator"></div>
                      Javascript
                    </li>
                    <li>
                      <div class="indicator"></div>
                      HTML5 &amp; CSS3
                    </li>
                    <li>
                      <div class="indicator"></div>
                      C#
                    </li>
                    <li>
                      <div class="indicator"></div>
                      Java
                    </li>
                    <li>
                      <div class="indicator"></div>
                      C++
                    </li>
                    <li>
                      <div class="indicator"></div>
                      SQL
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
             <div class="card">
              <header class="card-header is-text-centered">
                <p class="card-header-title">Frameworks/Libraries</p>
              </header>
              <div class="card-content">
                <div class="content">
                  <ul class="main-list">
                    <li>
                      <div class="indicator"></div>
                      Laravel
                    </li>
                    <li>
                      <div class="indicator"></div>
                      ASP .Net MVC
                    </li>
                    <li>
                      <div class="indicator"></div>
                      Entity Framework
                    </li>
                    <li>
                      <div class="indicator"></div>
                      Node JS
                    </li>
                    <li>
                      <div class="indicator"></div>
                      VueJS
                    </li>
                    <li>
                      <div class="indicator"></div>
                      NuxtJS
                    </li>
                    <li>
                      <div class="indicator"></div>
                      ExpressJS
                    </li>
                    <li>
                      <div class="indicator"></div>
                      Firebase
                    </li>
                    <li>
                      <div class="indicator"></div>
                      Tensorflow
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
             <div class="card">
              <header class="card-header">
                <p class="card-header-title">Databases/Platforms</p>
              </header>
              <div class="card-content">
                <div class="content">
                  <ul class="main-list">
                    <li>
                      <div class="indicator"></div>
                      Microsoft SQL Server
                    </li>
                    <li>
                      <div class="indicator"></div>
                      My SQL
                    </li>
                    <li>
                      <div class="indicator"></div>
                      Oracle DB
                    </li>
                    <li>
                      <div class="indicator"></div>
                      Mongo DB
                    </li>
                    <li>
                      <div class="indicator"></div>
                        Mobile (Android)
                    </li>
                    <li>
                      <div class="indicator"></div>
                      Linux
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
             <div class="card">
              <header class="card-header">
                <p class="card-header-title">Tools</p>
              </header>
              <div class="card-content">
                <div class="content">
                  <ul class="main-list">
                    <li>
                      <div class="indicator"></div>
                      Visual Studio
                    </li>
                    <li>
                      <div class="indicator"></div>
                      VSCode
                    </li>
                    <li>
                      <div class="indicator"></div>
                      GIT, GITHUB, BITBUCKET
                    </li>
                    <li>
                      <div class="indicator"></div>
                      AWS 
                    </li>
                    <li>
                      <div class="indicator"></div>
                      Heroku
                    </li>
                    <li>
                      <div class="indicator"></div>
                      Android Studio
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
  /**
   * TODO: CREATE A CONTENT LIST COMPONENT AND MOVE THE DESIGN OF THE CARD INTO THE CONTENT
   */
  export default {

  }
</script>
<style scoped>
  .dark-section{
    background-color: #15151C;
  }

  .card{
    background-color: #1C1C22;
    border: 2px  #858589 solid;
    border-radius: 10px;
    transition: all .2s ease-in-out;
  }

.card:hover{
  cursor: pointer;
  border: 2px #C6C6D8 solid;
  transform: scale(1.025);
}
  .card-header-title {
    color: #ffffff;
  }

  .card-header{
    text-align: center;
  }

  /* .card .card-content .content {
    color: #858589;
  } */

   /* .card .card-content .content:hover {
    cursor: pointer;
    color: #C6C6D8;
  } */

 ul {
   display: table;
 }

 ul.main-list{
   text-shadow: 0 1px 3px rgba(0, 0,0, 0.3);;
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 2px;
   border-radius: 3px;
   overflow: hidden;
   width: 100%;
   margin: 20px 0 20px 0;
 }

 li {
   color: #858589;
   padding: 10px 13px 10px 13px;
   margin: 0 0 0 0;
   cursor: pointer;
   transition: all 80ms ease-in-out;
 }

 li:hover{
   color: #C6C6D8;
   background-color: #15151C;
 }

 .indicator {
   width: 10px;
   height: 10px;
   margin: 0 10px 0 0;
   border-radius: 100%;
   border: 3px #858589 solid;
   display: inline-block;
   transition: all 200ms ease-in-out;
 }
</style>
